body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lavenderblush;
    color: rgb(69, 27, 72);
    font-family: Arial;
    margin: 0px;
    padding: 20px;
}
footer {
    background-color: thistle;
    color: black;
    font-family: Arial;
    padding: 20px;
}
header {
    background-color: thistle;
    color: black;
    font-family: Arial;
    padding: 20px;
}