body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lavenderblush;
    color: rgb(69, 27, 72);
    font-family: Arial;
    padding: 20px;
    margin: 0px 0px 80px;
}
footer {
    background-color: thistle;
    color: black;
    font-family: Arial;
    padding: 20px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
header {
    background-color: thistle;
    color: black;
    font-family: Arial;
    padding: 20px;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    text-decoration: underline;
    opacity: 0.9;
    text-shadow: 1px 1px 1px rgb(212, 182, 245);
}

a:visited {
    color: rgb(0, 0, 0);
    opacity: 0.5;
}

a:hover {
    color: red;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgb(230, 151, 151);
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 5px solid rgb(162, 3, 93);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}